$blue: #33ccff;

body {
  font-family: monospace;
  background-image: url("../../scss/img01.jpg");
  background-position: top;
  background-repeat: no-repeat;

  .container {
    h1 {
      font-family: serif;
      font-weight: bold;
      color: $blue;
    }
  }
}
